spec/fixtures/lutaml/xsd_schemas/wml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
  xmlns:w="http://schemas.openxmlformats.org/wordprocessingml/2006/main"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  <xsd:group name="EG_RPr">
    <xsd:sequence/>
  </xsd:group>
  <xsd:group name="EG_RunInnerContent">
    <xsd:sequence/>
  </xsd:group>
  <xsd:group name="EG_RPrMath">
    <xsd:sequence/>
  </xsd:group>
  <xsd:group name="EG_RunLevelElts">
    <xsd:sequence/>
  </xsd:group>
</xsd:schema>
